{{#if details.totalResults}}
    <h1 class="p-title">Info</h1>
    {{#unless (is-empty details.totalResults.risk_score.result)}}
        <div>
            <span class="p-key">Risk Score:</span>
            <span class="p-value">{{details.totalResults.risk_score.result}}</span>
        </div>
    {{/unless}}
    {{#unless (is-empty details.totalResults.blacklists.detections)}}
        <div>
            <span class="p-key">Detection Ratio: </span>
            <span class="p-value">{{details.totalResults.blacklists.detections}}/{{details.totalResults.blacklists.engines_count}}</span>
        </div>
    {{/unless}}
    {{#if (gt details.anonymityTags.length 0)}}
        <h1 class="p-title">Anonymity</h1>
        {{#each details.anonymityTags as |tag|}}
            <span class="tag">{{tag}}</span>
        {{/each}}
    {{/if}}

  {{#if (eq details.totalResults.most_abused_tld true)}}
    <div>
        <span class="p-key">Domain TLD: </span>
        <span class="p-value" style="color:red"><b>RISKY</b></span>
    </div>
  {{/if}}
  {{#if (eq details.totalResults.alexa_top_10k true)}}
    <div>
        <span class="p-key">Alexa Rank: </span>
        <span class="p-value">Top 10K</span>
    </div>
  {{/if}}
  {{#if (eq details.totalResults.alexa_top_100k true)}}
    <div>
        <span class="p-key">Alexa Rank: </span>
        <span class="p-value">Top 100K</span>
    </div>
  {{/if}}
  {{#if (eq details.totalResults.alexa_top_250k true)}}
    <div>
        <span class="p-key">Alexa Rank: </span>
        <span class="p-value">Top 250K</span>
    </div>
  {{/if}}

  {{#if (gt details.securityCheckTags.length 0)}}
    <h1 class="p-title">Security Checks</h1>
    {{#each details.securityCheckTags as |tag|}}
      <span class="tag">{{tag}}</span>
    {{/each}}
  {{/if}}

  {{#if (gt details.categoryTags.length 0)}}
      <h1 class="p-title">Categories</h1>
      {{#each details.categoryTags as |tag|}}
          <span class="tag">{{tag}}</span>
      {{/each}}
  {{/if}}

  {{!-- This is for domain results --}}
  {{#if details.totalResults.server_details}}
    <h1 class="p-title">
      Server Details
    </h1>
    {{#if details.totalResults.server_details.ip}}
      <div>
          <span class="p-key">Server IP: </span>
          <span class="p-value">{{details.totalResults.server_details.ip}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.server_details.reverse_dns}}
      <div>
          <span class="p-key">Reverse DNS: </span>
          <span class="p-value">{{details.totalResults.server_details.reverse_dns}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.server_details.continent_name}}
      <div>
          <span class="p-key">Continent: </span>
          <span class="p-value">{{details.totalResults.server_details.continent_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.server_details.country_name}}
      <div>
          <span class="p-key">Country: </span>
          <span class="p-value">{{details.totalResults.server_details.country_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.server_details.region_name}}
      <div>
          <span class="p-key">Region: </span>
          <span class="p-value">{{details.totalResults.server_details.region_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.server_details.city_name}}
      <div>
          <span class="p-key">City: </span>
          <span class="p-value">{{details.totalResults.server_details.city_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.server_details.isp}}
      <div>
          <span class="p-key">ISP: </span>
          <span class="p-value">{{details.totalResults.server_details.isp}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.server_details.asn}}
      <div>
        <span class="p-key">ASN: </span>
        <span class="p-value">{{details.totalResults.server_details.asn}}</span>
      </div>
    {{/if}}
  {{/if}}

  {{!-- This is for IP results --}}
  {{#if details.totalResults.information}}
    <h1 class="p-title">
      Server Details
    </h1>
    {{#if details.totalResults.information.reverse_dns}}
      <div>
          <span class="p-key">Reverse DNS: </span>
          <span class="p-value">{{details.totalResults.information.reverse_dns}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.information.continent_name}}
      <div>
          <span class="p-key">Continent: </span>
          <span class="p-value">{{details.totalResults.information.continent_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.information.country_name}}
      <div>
          <span class="p-key">Country: </span>
          <span class="p-value">{{details.totalResults.information.country_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.information.region_name}}
      <div>
          <span class="p-key">Region: </span>
          <span class="p-value">{{details.totalResults.information.region_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.information.city_name}}
      <div>
          <span class="p-key">City: </span>
          <span class="p-value">{{details.totalResults.information.city_name}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.information.isp}}
      <div>
          <span class="p-key">ISP: </span>
          <span class="p-value">{{details.totalResults.information.isp}}</span>
      </div>
    {{/if}}
    {{#if details.totalResults.information.isp}}
      <div>
        <span class="p-key">ASN: </span>
        <span class="p-value">{{details.totalResults.information.asn}}</span>
      </div>
    {{/if}}
  {{/if}}
{{/if}}


<h1 class="p-title">
  Blocklist Detections
</h1>
{{#if (eq details.detectedResults.length 0)}}
  <span>The {{block.entity.type}} {{block.entity.value}} was not present in any blocklists.</span>
{{else}}
  <span>The {{block.entity.type}} {{block.entity.value}} was present in
    {{details.totalResults.blacklists.detections}}
    {{#if (eq details.totalResults.blacklists.detections.length 1)}}
      1 blocklist.
    {{else}}
      different blocklists.
    {{/if}}
  </span>
  <div class="scrollable-container mt-1">
    <table>
        <tbody>
          <tr>
            <td colspan="2" class="table-header">
              Positive Blocklist Detections
            </td>
          </tr>
          {{#each details.detectedResults as |hit index|}}
            <tr>
              <td style="color: #FF3A59">
                {{fa-icon icon="do-not-enter" class="icon" fixedWidth=true}}
              </td>
              <td class="engine">
                <div>
                  {{hit.name}}
                </div>
                <div class="p-footnote">
                  {{hit.reference}}
                </div>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan="2" class="table-header">
              No Detections
            </td>
          </tr>
          {{#each details.unblockedEngines as |hit index|}}
            <tr>
              <td style="color: #ccc">
                {{fa-icon icon="circle" class="icon" fixedWidth=true}}
              </td>
              <td class="engine">
                <div>
                  {{hit.name}}
                </div>
                <div class="p-footnote">
                  {{hit.reference}}
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
{{/if}}
<div class="mt-2">
    <span class="p-footnote">{{details.apiQuota.available}} credits remain</span>
</div>